@import './settings.scss';
@import './class.scss';

* {
    box-sizing: border-box;
}

header img {
    width: 100%;
    object-fit: cover;
    max-height: 300px;
}

footer {
    width: 100%;
    max-width: 100%;
    position: fixed;
    bottom: 0;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 20px;
}

footer>div {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

nav {
    position: sticky;
    z-index: 10;
    margin-top: -10px;
    padding: 10px;
    background-color: var(--secondary-color);
}

nav div {
    background-color: var(--secondary-color);
}

.nav-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.NavDashboard .btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

div.NavDashboard .btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.home_map {
    position: relative;
    text-align: center;
    margin: 25px auto;
    width: fit-content;
}

.home_map svg {
    position: absolute;
    font-size: 36px;
    color: var(--secondary-color);
}

.home_map svg:hover+div {
    position: absolute;
    display: block;
    width: max-content;
    z-index: 5;
}

.articles_random>div {
    width: 30%;
}

.articles_random>div>h4:first-of-type {
    border-radius: 10px 10px 0px 0px;
}

.articles_random>div>div:last-of-type {
    border-radius: 0px 0px 10px 10px;
}

.articles_random>div>:nth-child(even) {
    margin: 0;
    padding: 20px;
    background-color: var(--primary-color);
}

.articles_random>div>:nth-child(odd) {
    margin: 0;
    padding: 10px;
    background-color: var(--secondary-color);
}

.articles_random .carousel img {
    margin: 0;
    background-color: inherit;
}

div:has(>.btn.index) {
    margin: 20px;
}